<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DAM-TD4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A9420E41E3F68590043AC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A9420F81E3F685A0043AC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A9421031E3F685A0043AC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
